[2020-04-04 02:26] vielmetti opened #2 "Move Tinkerbell web site over to Netlify + Hugo"
The next version of the web site will be done with [Hugo](https://gohugo.io/) and [Netlify](https://www.netlify.com/) - track that progress here.

[2020-04-15 11:01] ebati opened #4 "www.tinkerbell.org gives cert error"
tinkerbell organization on GitHub directs to https://www.tinkerbell.org which gives certificate error.

[2020-04-17 14:42] mrmrcoleman opened #6 "https://tinkerbell.org/setup should be updated to point to latest docs"
https://tinkerbell.org/setup currently points to Packet specific documentation.

Let's instead update this page to the latest docs.

This looks like a good start: https://github.com/tinkerbell/tink/issues/49

I'd love to embed these videos if they are up to date: https://github.com/tinkerbell/tink/pull/62 (If we do this let's make a reminder to update them whenever the instructions change)

[2020-04-19 12:45] vielmetti opened #8 "test issue for Github Slack integration"
Issue unrelated to the web site, to test correct operations of Slack integration. To be closed after it works.

[2020-04-19 12:45] #8 closed

[2020-04-21 12:26] invidian opened #69 "Document login credentials"
It would be nice to have a note somewhere, that in order to debug the workflow, `root` user with no password can be used for loggin in into serial console

[2020-04-22 14:44] kdeng3849 commented on #6
Current known environments used for Tinkerbell (to take into consideration):

- Vagrant with Ubuntu 18.04

[code]

- qemu-kvm with CentOS 7

[2020-04-28 14:31] mrmrcoleman commented on #6
@kdeng3849 Here is Alex Ellis' request for this: https://github.com/tinkerbell/tink/issues/70

[2020-04-28 15:59] jacobsmith928 commented on #2
@ronggur is working with @felixwidjaja on implementing a new design with TBD Jamstack platform.

[2020-04-28 16:04] gauravgahlot commented on #2
Ohh. @jacobsmith928 I was about to send a PR, shall I hold on to it then?

[2020-04-28 16:53] jacobsmith928 commented on #2
@gauravgahlot I would just hold back. Sorry for the confusion!

[2020-04-30 11:50] alexellis commented on #6
We could do with having this updated to prevent confusion. A project-level API token is the best option for restricted permissions, however it only partially works then gives "access denied", therefore, I would suggest strongly we amend the language to:

"You must use a Packet User API Token, and not a project API token"

<img width="479" alt="Screenshot 2020-04-30 at 12 47 55" src="https://user-i

[2020-04-30 13:22] alexellis commented on #6
<img width="1901" alt="Screenshot 2020-04-30 at 14 20 17" src="https://user-images.githubusercontent.com/6358735/80715168-e3aefe00-8aed-11ea-98d2-6f861e6049e4.png">

@gauravgahlot we have an inconsistency now between the docs and setup.sh - if this is an "automated" install into a known configuration, then the user shouldn't have to guess what inputs to enter or be promoted at all.

I would sugges

[2020-04-30 13:24] alexellis commented on #6
I set values according to [this comment](https://github.com/tinkerbell/tink/issues/70#issuecomment-618290610), however there were confusing warnings, that I think we need to silence or fix:

<img width="789" alt="Screenshot 2020-04-30 at 14 24 14" src="https://user-images.githubusercontent.com/6358735/80715444-47d1c200-8aee-11ea-93ff-ad5152399b87.png">

[2020-04-30 13:25] alexellis commented on #6
[code]

Should these be set? Why are we warning about that? Does it need to be added into the setup docs page to configure these or should we silence the warning?

[2020-04-30 13:27] alexellis commented on #6
Glad to see the feedback was integrated @gauravgahlot, however, can you fix the `\n` appearing in the output? Perhaps a second echo would be easier?

<img width="1606" alt="Screenshot 2020-04-30 at 14 27 15" src="https://user-images.githubusercontent.com/6358735/80715734-b3b42a80-8aee-11ea-85da-9f04beacf1e3.png">

[2020-04-30 13:28] alexellis commented on #6
Do we still need to run those instructions given that the image appears to have been set up already? (perhaps by setup.sh?)

<img width="957" alt="Screenshot 2020-04-30 at 14 28 21" src="https://user-images.githubusercontent.com/6358735/80715855-de05e800-8aee-11ea-9a03-88a91530d496.png">
<img width="1181" alt="Screenshot 2020-04-30 at 14 28 18" src="https://user-images.githubusercontent.com/635873

[2020-04-30 13:29] alexellis commented on #6
[code]

If this is a step-by-step guide, you'll need to provide exact commands. This should be an easy fix for you.

[2020-04-30 13:30] alexellis commented on #6
[code]

@gauravgahlot could you fix?

[2020-04-30 13:34] alexellis commented on #6
Step 3.

Replace `vi` with something you can paste easily:

with:

[code]

[2020-05-01 20:27] #2 closed

[2020-05-01 20:52] nathangoulding commented on #4
Fixed, after switching over to Netlify and setting up custom domain.

[2020-05-01 20:52] #4 closed

[2020-05-06 15:28] mrmrcoleman opened #23 "Add an FAQ to the website"
When potential users are evaluating Tinkerbell they will naturally want to know how it is better or different than current solutions in the market. This is evidenced by the recent commentary on Reddit:
https://www.reddit.com/r/selfhosted/comments/gdyy9p/open_sourcing_tinkerbell_for_automated_baremetal/

We can build up the FAQ as we go but a good base line of questions from the link above are:

-

[2020-05-07 14:57] #6 closed

[2020-05-11 09:39] felixwidjaja opened #29 "Search background color"
Please change the background to use the same dark blue @ronggur
https://deploy-preview-27--festive-goldwasser-489842.netlify.app/components/
![image](https://user-images.githubusercontent.com/4198376/81547350-ef2fde00-93a5-11ea-95a7-e0751bdd474d.png)

[2020-05-11 09:41] felixwidjaja opened #30 "Wording in "How Does it Work?""
Need revision about the major components quantity @mrmrcoleman
https://deploy-preview-27--festive-goldwasser-489842.netlify.app/

[2020-05-11 09:49] felixwidjaja opened #31 "Main Nav"
Documentation
GitHub
Slack Channel
Twitter

https://deploy-preview-27--festive-goldwasser-489842.netlify.app/

@ronggur

[2020-05-11 09:53] felixwidjaja opened #32 "Change Main Call to Action"
"Get Started on Github" -> "Get Started"
Links to Setup: https://deploy-preview-27--festive-goldwasser-489842.netlify.app/setup/

![image](https://user-images.githubusercontent.com/4198376/81548507-9b25f900-93a7-11ea-8548-0b69bac09cc2.png)

[2020-05-11 09:57] felixwidjaja opened #33 "Capital H for "GitHub""
I saw some "Github" in homepage instead of "GitHub".
Please edit thanks.

[2020-05-11 15:51] ronggur commented on #30
hi @mrmrcoleman if you already have the new wording, let me know I can change it

[2020-05-11 16:05] #29 closed

[2020-05-11 16:05] #31 closed

[2020-05-11 16:05] #32 closed

[2020-05-11 16:05] #33 closed

[2020-05-12 03:33] felixwidjaja opened #34 "Need &nbsp; next to heart"
![image](https://user-images.githubusercontent.com/4198376/81635656-e558ba00-943b-11ea-8d95-21280e475ae2.png)

[2020-05-12 03:37] felixwidjaja opened #35 "Kill "." in Get Started"
![image](https://user-images.githubusercontent.com/4198376/81635854-86477500-943c-11ea-94d2-eae92d7cbde4.png)

[2020-05-12 03:41] felixwidjaja opened #36 "Search border color"
Now it looks pink.
![image](https://user-images.githubusercontent.com/4198376/81635980-d58da580-943c-11ea-8269-a288c2ec55ef.png)

Can you make it to #1d5086?
![image](https://user-images.githubusercontent.com/4198376/81636084-12599c80-943d-11ea-9801-6d1e375f9cf4.png)

Active color glow is great already.

[2020-05-12 08:48] mrmrcoleman commented on #30
Morning. It wasn't my intention that you would wait for me on this as it's a minor thing.

Here's my suggestion for updated text:

"Tinkerbell has three major components: a DHCP server (oots), a workflow engine (tink), an in-memory operating system (osie) and a metadata service (hegel). The workflow engine is comprised of a server and a CLI, which communicate over gRPC. The CLI is used to create a

[2020-05-12 10:08] #34 closed

[2020-05-12 10:08] #35 closed

[2020-05-12 10:08] #36 closed

[2020-05-12 12:21] felixwidjaja commented on #30
Hi @mrmrcoleman

Did you mean **four** major components? @ronggur took the liberty to put _four_ instead of _three_. Let us know if you want _three_.

Thanks.

[2020-05-12 12:46] mrmrcoleman commented on #30
I did mean four, thanks @ronggur !

[2020-05-12 14:39] felixwidjaja opened #37 "Metadata"
@jacobsmith928 will help.

![image](https://user-images.githubusercontent.com/4198376/81705287-14514900-9499-11ea-93c9-a6645d22e723.png)

[2020-05-12 14:42] felixwidjaja commented on #30
@mmlb, other than `oots` -> `Boots`, do you have any other concern? Thanks.

[2020-05-12 14:45] mmlb commented on #30
nope, lgtm.

[2020-05-12 14:48] felixwidjaja commented on #30
Thanks @mmlb.
@ronggur all yours sir.

[2020-05-12 14:48] felixwidjaja commented on #30
and it just handled by @gauravgahlot . closing now.

[2020-05-12 14:48] #30 closed

[2020-05-12 15:08] jacobsmith928 commented on #37
<title>Tinkerbell - Bare Metal Automation</title>
<meta name=description content="A flexible, open source bare metal provisioning and workflow engine.">

<meta property="og:title" content="Tinkerbell, a flexible open-source bare metal provisioning engine.">

[2020-05-13 06:13] felixwidjaja opened #39 "Slack: More Guided"
**Community Slack**

[[Join Packet Community on Slack]](https://slack.packet.net/)

Mockup:
![image](https://user-images.githubusercontent.com/4198376/81777626-76529280-951b-11ea-9b63-5bc23e488b4d.png)

Could we utilize this secondary nav to have a page with URL?
![image](https://user-images.githubusercontent.com/4198376/81776232-ae0c0b00-9518-11ea-9509-9272af6ec8d4.png)

And, after this page has

[2020-05-13 07:26] ronggur commented on #37
it seems need additional og:description https://deploy-preview-40--festive-goldwasser-489842.netlify.app

[2020-05-13 08:02] mrmrcoleman commented on #39
This is great @felixwidjaja !

[2020-05-13 15:36] mrmrcoleman opened #41 "Update docs to provide more information about what "hardware data" is"
From @iaguis on the community slack.

"I'm following the setup tutorial on tinkerbell.org on Packet and got to the Hardware data section. It says: "Create a file containing the hardware data (say data.json)", but gives no information on what this "hardware data" is, I think it should have some information about that, maybe pointing to https://tinkerbell.org/cli-reference/hardware/ can be a first s

[2020-05-13 16:26] ronggur commented on #39
deploy preview https://deploy-preview-42--festive-goldwasser-489842.netlify.app/community-slack/

[2020-05-13 17:06] felixwidjaja commented on #39
Thanks @ronggur can you make the _secondary nav_ has **active style**? Simple **underline** just like in mockup.

[2020-05-13 17:35] felixwidjaja opened #43 "Logo SVG"
Thanks @ronggur
[Tinkerbell_Lockup_white_horz.svg.zip](https://github.com/tinkerbell/tinkerbell.org/files/4623626/Tinkerbell_Lockup_white_horz.svg.zip)

[2020-05-14 04:24] ronggur commented on #37
og:description has been added

[2020-05-14 06:23] ronggur commented on #39
@felixwidjaja updated https://deploy-preview-42--festive-goldwasser-489842.netlify.app/community-slack/

[2020-05-14 06:58] felixwidjaja commented on #39
Sold!

[2020-05-14 07:33] invidian opened #45 "Tinkerbell > Setup > Packet > Provisioner list not formatted properly"
https://github.com/tinkerbell/tinkerbell.org/blob/master/content/setup/packet/provisioner.md

[code]

Looks like:
![Selection_168](https://user-images.githubusercontent.com/16539896/81906031-e289d080-95c5-11ea-9038-3338bd8619b5.png)

[2020-05-14 08:05] #45 closed

[2020-05-14 10:47] ronggur commented on #43
@felixwidjaja ready https://deploy-preview-47--festive-goldwasser-489842.netlify.app/

[2020-05-14 11:16] felixwidjaja commented on #43
Sweet.

[2020-05-14 11:16] #43 closed

[2020-05-14 13:26] felixwidjaja commented on #37
@ronggur , from @jacobsmith928
Instead of “Tinkerbell for Bare Metal” how about “Flexible automation for bare metal”
This is because we have the domain right above it.

[2020-05-15 04:39] felixwidjaja opened #49 "Adjust the capitalization"
A request from @jacobsmith928

Adjust the capitalization on the website to match this:
- boots — DHCP & iPXE Server
- OSIE — In-Memory Environment
- tink — Provisioning & Workflow Engine
- hegel — Metadata Service

[2020-05-15 07:17] #49 closed

[2020-05-15 17:54] mrmrcoleman opened #51 "Add Google Analytics to tinkerbell.org"
We would like to know how much traffic we're getting and which pages are popular. Please add GA to tinkerbell.org and ping me for the tracking code.

[2020-05-16 12:19] felixwidjaja commented on #51
Hi @mrmrcoleman
@ronggur can help paste the tracking code.

[2020-05-16 14:32] mrmrcoleman commented on #51
Thanks @felixwidjaja

[2020-05-18 09:39] felixwidjaja commented on #51
Hi @ronggur here's the Google Anayltics code

`
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52258647-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-52258647-10');
</script>`

[2020-05-18 10:21] felixwidjaja opened #52 "More obvious <a> in docs"
https://tinkerbell.org/examples/hello-world/
![image](https://user-images.githubusercontent.com/4198376/82202061-8a3b3180-992b-11ea-8b82-5d8ad39f7d35.png)
1. @ronggur can you edit theme for `<a>` to be the underlined? Hover will change the color, or lose the underline.
2. While you at it, please edit the link to https://tinkerbell.org/setup/ because the current one is 404.

*Thanks to Alex Ellis f

[2020-05-19 08:49] invidian opened #53 "Consider adding "Overview" page to the documentation"
Currently "Documentation" button on the main page redirects directly to https://tinkerbell.org/components/. Perhaps it would be nice to have some kind of overview page of what you can find in there, how to contribute etc.

[2020-05-19 10:25] mrmrcoleman opened #54 "Batteries Included Experience"

[2020-05-19 11:01] alexellis commented on #54
For #3 specifically, it would be good to have an example using a cloud image, like the ones Ubuntu create. https://cloud-images.ubuntu.com

[2020-05-19 11:02] alexellis commented on #54
For example 1 see https://github.com/tinkerbell/tink/issues/91

[2020-05-19 11:16] invidian opened #55 "Add requirements section to documentation"
It would be great to have following requirements of Tinkerbell included in the documentation, perhaps new section called "Requirements".

- OS for server:
  - As far as I know, currently Ubuntu 16.04/20.04 and some CentOS versions are supported by `setup.sh` script
- CPU, RAM, disk:
  - I test on 2 vCPUs and 4 GB of RAM and that seems to be sufficient
  - 20 GB disk seems to be sufficient (includi

[2020-05-19 12:21] mrmrcoleman opened #56 "REST API for Tink"
@kdeng3849 has already started this in https://github.com/tinkerbell/tink/pull/64

[2020-05-19 12:23] mrmrcoleman opened #57 "Secrets"

[2020-05-19 12:26] mrmrcoleman opened #58 "Lightweight Portal"
From notes from Nathan:

Build a lightweight portal that would say “here’s your hardware that’s in this facility, here are your templates, your workflows.” Also allow users to create new templates and workflows.

Not a recreation of the multi tenant staff portal.

Extra notes:

1. Switch UI so Hardware shows a list and then you can edit, delete and upload within that page.
2. System status: List r

[2020-05-19 15:51] alexellis commented on #54
Got a bit impatient wanting to have a working Ubuntu install for an event this week. This is a collaboration with @wangxin311 https://github.com/alexellis/tink-workflow

It works at the moment and can get from nothing to a working 18.04 machine with ssh enabled from the provisioner and a username that can be used on the console via SSH SOS on Packet.

[2020-05-20 09:12] mrmrcoleman commented on #23
@felixwidjaja Can you start working on this FAQ page please?

[2020-05-20 09:15] gauravgahlot commented on #58
@mrmrcoleman That's ironic. 😃
I thought about this when we started with Tinkerbell and started with a personal project (definitely OSS) called _Frawn_. I recently renamed it to _Tink-Wizard_ and made the new repo public.
You can access the project deployed with some dummy data here: https://go.aws/2XcNhxE
This is a work in progress under the repo: https://github.com/gauravgahlot/tink-wizard

I'm e

[2020-05-20 09:30] mrmrcoleman commented on #58
@gauravgahlot This looks great! Nice work.
@nathangoulding Thoughts?

[2020-05-20 12:05] ronggur commented on #51
already made new PR https://github.com/tinkerbell/tinkerbell.org/pull/62

[2020-05-20 12:06] ronggur commented on #52
new PR ready https://github.com/tinkerbell/tinkerbell.org/pull/61

[2020-05-20 17:06] mrmrcoleman opened #64 "CAPT (Cluster API for Tinkerbell)"
Mark will work with Avi/Gianluca and Graham to figure out an initial design doc for how this could work.

[2020-05-20 17:14] mrmrcoleman commented on #64
This should be done in parallel with the Secrets epic.

[2020-05-21 13:03] #41 closed

[2020-05-22 06:33] felixwidjaja opened #67 "Change Slack URL"
from slack.packet.net to slack.packet.com

[2020-05-22 07:16] #67 closed

[2020-05-22 07:27] #39 closed

[2020-05-27 11:34] #69 closed

[2020-05-27 13:31] felixwidjaja commented on #52
I think the code was replaced, accidently. Could you please reapply @ronggur ?

[2020-06-04 16:13] mrmrcoleman opened #73 "Run Tinkerbell on k8s"

[2020-06-04 16:24] #51 closed

[2020-06-05 05:26] felixwidjaja commented on #23
@ronggur when time, please...

[Tinkerbell-FAQ-1.psd.zip](https://github.com/tinkerbell/tinkerbell.org/files/4733958/Tinkerbell-FAQ-1.psd.zip)

[2020-06-05 06:49] felixwidjaja commented on #37
@ronggur new update coming up:

Title: Tinkerbell - Bare Metal Automation
Description: Tinkerbell is an open-source bare metal provisioning engine, built for a cloud native world and maintained by the team at Packet.

[2020-06-12 04:07] #52 closed

[2020-06-17 15:43] thomcrowe opened #79 "Add a Tinkerbell Collaborator page to the website"
We need a contributors' page for Tinkerbell.org

We need the contributors' name, GitHub handle, Twitter handle, and avatars.

https://docs.google.com/spreadsheets/d/1pLlyh5A3ZIhp8ePAxWY8CTvhUSm5rBXlGQ7pneoG50I/edit?usp=sharing

@felixwidjaja has created this mockup
![Tinkerbell-Contributor Mockup](https://user-images.githubusercontent.com/7960458/84919247-4dc43800-b087-11ea-9b18-604fd9f45327.jpg)

[2020-06-17 16:25] jacobsmith928 commented on #79
@thomcrowe great!  I would suggest we change "Contributor" to "Contributors" or "Collaborators" to ensure it is clear language.  I love this idea!

[2020-06-17 21:41] thomcrowe commented on #79
Sounds great. @felixwidjaja can you update to “Contributors”?

[2020-06-23 09:10] felixwidjaja commented on #79
@thomcrowe Okay on progress.

[2020-06-23 14:24] mrmrcoleman opened #84 "Update docs to show end to end installation of Ubuntu 18.04 on worker"
Related to https://github.com/tinkerbell/tink/issues/91

[2020-06-23 15:03] ronggur commented on #79
PR ready https://github.com/tinkerbell/tinkerbell.org/pull/85

[2020-06-24 05:32] felixwidjaja commented on #79
@mmlb @gauravgahlot I suggest we go with manual first, then improve with auto fetch the contributors. Cool?
We will need this auto fetch script in the future with the new theme & CMS coming.

[2020-06-25 21:04] mrmrcoleman commented on #79
I'm ok with manual for now so long as we have a human process to review and create updates periodically. Monthly is likely sufficient. @thomcrowe Can you take care of this please?

[2020-06-26 12:53] thomcrowe commented on #79
You bet. Let's go manual for now and I will be send in updates as an issue at the beginning of every month until we can automate that process.

Thanks.

[2020-06-26 13:32] #79 closed

[2020-06-29 20:03] thomcrowe opened #90 "Tinkerbell.org Hugo doesn't build locally"
We have not been able to build the Tinkerbell Hugo site locally. We need to be able to build locally to test and iterate, especially on docs. There are errors are listed below:

Building sites … WARN 2020/06/29 15:03:12 Page.URL is deprecated and will be removed in a future release. Use .Permalink or .RelPermalink. If what you want is the front matter URL value, use .Params.url
ERROR 2020/06/29 15

[2020-06-30 05:29] #23 closed

[2020-07-02 17:12] DailyAlice opened #94 "CLI Reference Docs Improvements"
Building out the reference docs with some common information and formatting as well as examples for every command. Also serves as a useful template if/when the cli gets new functionality down the line.

[2020-07-02 17:15] DailyAlice commented on #94
format example:

## Workflow Operations

[code]

`tink workflow --help` - Displays the available commands and usage for `tink workflow`.

### `tink workflow create`

description

**Arguments**

**Options**

**Examples**

### `tink workflow data`

description

**Arguments**

**Options**

**Examples**

### `tink workflow delete`

description

**Arguments**

**Options**

**Examples**

### `tink workf

[2020-07-06 19:58] thomcrowe opened #96 "Prettier and/or Hugo not registering line breaks"
There seems to be a line break conflict somewhere between running prettier and deploying to staging/live environment where a line break in markdown isn't registered as a line break in live. It looks like prettier is removing the extra white space and taking away the break. Hugo appears to need that double spaces and a carriage return to display the break.

Below are two screenshots, one showing th

[2020-07-09 20:17] thomcrowe commented on #90
@ronggur Do you have any insight on what needs to be done to make this work locally?

[2020-07-09 20:18] thomcrowe commented on #96
Is there a better way we can ensure the line breaks are preserved after running prettier when hugo builds @ronggur?

[2020-07-09 20:32] thomcrowe commented on #53
This was closed when we added the /documentation page

[2020-07-09 20:32] #53 closed

[2020-07-09 20:33] thomcrowe commented on #56
This is a duplicate of tinkerbell/tink#64

[2020-07-09 20:33] #56 closed

[2020-07-13 21:06] displague opened #103 "Missing steps during terraform provisioning"
## Expected Behaviour

The instructions at https://tinkerbell.org/setup/packet-with-terraform/provisioner/ should work.

[code]

## Current Behaviour

[code]

## Possible Solution

Run the following before `wget`'ing `setup.sh`.
[code]

Rather than having these steps performed manually, they could be performed by Terraform, through a `null_resource` provisioner, or through `cloud-init`.

## Steps

[2020-07-17 09:01] gianarb opened #107 "Contributor documentation kick off"
## Expected Behaviour

IMHO this is a P2 because I feel blocked from writing documentation for contributors until we don't have a place for it.

As a potential contributor, I want to be able to get my own documentation, because maybe I am a user as well for Tinkerbell but I have different needs.

Recently worked with [bird](https://bird.network.cz/), and I know, the site has its style that comes d

[2020-07-17 15:14] #94 closed

[2020-07-21 14:45] mrmrcoleman commented on #37
@ronggur is this related to this PR?

https://github.com/tinkerbell/tinkerbell.org/pull/40

[2020-07-21 16:55] DailyAlice opened #108 "Update Docs with re-boot details"
Linked Issue: https://github.com/tinkerbell/tink/issues/116

Problem:
Currently, when a workflow is done and the user reboots, workers PXE-boot again to OSIE unless you manually set boot to disk.

Solution:
With Issue https://github.com/tinkerbell/boots/issues/35 a logic was implemented to have worker PXE boot only when there is an Active workflow created for the given worker. Worker will not PXE

[2020-07-21 17:42] DailyAlice commented on #73
I'm not particularly sure that this is something that should be tracked in the website repo; although this would make a good article or blog post.

Is there somewhere better to track something like this @mrmrcoleman? and if so is there can we close this issue?

[2020-07-21 17:45] DailyAlice commented on #64
Is this sort of a duplicate issue to https://github.com/tinkerbell/tink/issues/195? This isn't really a documentation or website issue.

Well, yet anyway! If we do want to have an API and API docs then we can probably either re-open or track in a new issue.

Closing!

[2020-07-21 17:45] #64 closed

[2020-07-21 17:47] DailyAlice commented on #57
I think this issue would be better addressed in the `tink` repository. Any objection to either moving or re-creating over there and closing this one, @mrmrcoleman ?

[2020-07-21 17:51] DailyAlice commented on #58
It seems we now have a repository for work on a UI/portal - https://github.com/tinkerbell/portal

I'm going to assume that issues and work related to it will be tracked over there. Closing!

[2020-07-21 17:51] #58 closed

[2020-07-21 18:02] DailyAlice commented on #107
I definitely like this! @gianarb

More concretely, are you thinking of making something like the content of https://pkg.go.dev/github.com/tinkerbell/tink@v0.0.0-20200714130438-0100e535bd94/test/framework?tab=doc a part of the documentation?

And to extend the Bird example -
"User Guide" - current website docs (which are definitely more user-focused currently)
"Coder's Doc" - the docs generated in

[2020-07-22 09:40] gianarb commented on #107
Hello @DailyAlice !
The documentation you linked is the one used from a developer when learning a framework in the act of embedding code we wrote as part of Tinkerbell in their codebase. It is important and it applies to something like:

* Client Libraries (because those are used by other developers in the act of extending Tinkerbell).
* Testing Framework (the one you linked) that are used when wr

[2020-07-22 14:23] DailyAlice commented on #107
Okay, thanks, I see what you mean.

Your TOC looks like an excellent starting point. I think good enough to at least start trying to research and start writing those things down.

If you have any content for any of those topics, feel free to drop them here or send them my way. I'll also start researching, asking around, and collecting all the things.

[2020-07-22 16:16] DailyAlice commented on #55
Thinking about this a little bit. Right now we have descriptions of Provisioners and Workers on the Architecture page: https://tinkerbell.org/architecture/

Those sections could be expanded to include the requirements listed here. I think that might be my initial approach.

[2020-07-23 14:25] DailyAlice commented on #84
Working Example - https://github.com/thebsdbox/tinkerbell-ubuntu

One step closer! 🎉

[2020-07-24 13:50] DailyAlice commented on #108
Plan:

Mainly live on the main Workflow explainer page (WIP)

But also mention at the end of hello-world and vagrant (and eventually the Ubuntu example) the details about booting with an OS vs booting with an not OS.

[2020-07-26 16:59] mrmrcoleman commented on #57
Hey @DailyAlice this issue and some other related ones were part of the roadmap project: https://github.com/orgs/tinkerbell/projects/2

Due to the way Github works we wanted to pick a repo for roadmap items. You're right that this probably isn't the right place for them but then tink equally isn't so we'll need a new home for them. I'm personally a fan of Trello for public roadmaps. Let's discuss.

[2020-07-26 17:01] mrmrcoleman commented on #73
This was another roadmap item, again it needs a new home!

[2020-07-26 17:01] mrmrcoleman commented on #64
This was another roadmap item, again it needs a new home!

[2020-07-27 17:19] #55 closed

[2020-07-27 17:30] DailyAlice opened #111 "Update Hardware Data doc"
There have been a few recent changes to hardware data. With the merging and closing of https://github.com/tinkerbell/tink/commit/850584d46c8d5d7aaee3868f13fa5aede97ac32b and https://github.com/tinkerbell/tink/issues/199.

I can take a look at https://tinkerbell.org/hardware-data/ and update it including some of those recent changes.

It seems to have raised at least one question so far (https://pa

[2020-07-28 09:19] DailyAlice opened #112 "IPtables in Vagrant setup - Worker"
There was a request for docs surrounding iptables on a Worker post-Vagrant set up.

Need to follow-up with @Cbkhare, @gianarb, or @dan to get the details.

[2020-07-28 18:17] DailyAlice opened #113 "Code coloring and Firefox Dark Mode Conflicts"
## Expected Behaviour
Code coloring in the docs and on the website should look something like:
<img width="898" alt="Screen Shot 2020-07-28 at 1 08 57 PM" src="https://user-images.githubusercontent.com/7660123/88704849-4fe0d400-d0d4-11ea-983c-a9f6d9161c1d.png">

## Current Behaviour
But (in at least Firefox) with the "user prefers dark mode" option set it looks like:
![image](https://user-images.g

[2020-07-29 00:13] #108 closed

[2020-07-31 07:51] thebsdbox commented on #112
The issue that we face is that whilst a machine/laptop may be internet facing, the virtual machines created by Vagrant are not.

[code]

In order to provide this functionality to these created virtual machines we need to use `iptables` to allow `ip_forwarding` and network address translation from the network traffic of `VM1` to traverse `eth0`

export main=<public_ip_iface>
export vagrant=<tinkerb

[2020-08-03 07:53] ronggur commented on #96
@thomcrowe  according to this issue, it is not possible https://github.com/prettier/prettier/issues/4131#issuecomment-404603823

But we can ignore it with this documentation https://prettier.io/docs/en/ignore.html

[2020-08-03 09:15] ronggur commented on #37
@mrmrcoleman yes correct

[2020-08-04 18:14] DailyAlice commented on #112
@thebsdbox does this issue affect both the Provisioner and the Worker? I think this originally discussed in context of letting a Worker see the Internet, but if it does also affect the Provisioner are there any cases where you would want to run the commands there too?

[2020-08-06 20:32] DailyAlice commented on #112
Other thoughts - I can just drop in this content at the end of the Vagrant set up doc, but is there any context on why someone would want or need to have the Worker see the Internet at this point? @thebsdbox

[2020-08-07 04:27] felixwidjaja opened #117 "Sitemap & URL Update"
@ronggur please edit based on Kyle's suggestion at [here](https://docs.google.com/spreadsheets/d/1ozKp4tBdMCvzA6ysEz2-URwYtccJowS1Zxiu83TSTbg/edit#gid=0
).
Thank you.

[2020-08-10 19:43] #37 closed

[2020-08-18 16:56] #117 closed

[2020-08-18 18:55] gianarb commented on #113
I can't replicate anymore not sure

[code]

![Screenshot 2020-08-18 at 20 53 39](https://user-images.githubusercontent.com/1630267/90553617-fa5c8c00-e194-11ea-9c8e-1258a4ac77de.png)

[2020-08-31 14:52] rainleander opened #128 "Tinkerbell Uniform Standards: Maintained Repository"
Our repositories should be the example from which adjacent, competing, projects look for inspiration.

Each repository should not look entirely different from other repositories in the ecosystem, having a different layout, a different testing model, or a different logging model, for example, without reason or recommendation from the subject matter experts from the community.

We should share our i

[2020-09-01 15:15] #112 closed

[2020-09-04 09:43] gianarb commented on #90
I made a few tests and it builds locally but you need a particular version of hugo:

[code]

We have to figure out why it does not work with the newest version of hugo. But in the meantime you can use `nix-shell` and everything will work again

[2020-09-04 09:43] #90 closed

[2020-09-04 09:43] gianarb opened #133 "Make this website compatible with a newest version of hugo"
If you use the newest version of Hugo the website does not work.

https://github.com/tinkerbell/tinkerbell.org/issues/90

[2020-09-10 13:55] #103 closed

[2020-09-17 10:40] rainleander commented on #107
Is there anything I can do to help resolve this in the next week?

[2020-09-17 15:30] gianarb commented on #107
I don't know how to do it, my expectation is be able to implement a table of contents like:

[code]

if you can help me to find the right place where I can write those contents I happy to bootstrap them

[2020-09-18 08:21] rainleander opened #142 "Uniform Standards Request: Experimental Repository"
Hello!

We believe this repository is Experimental and therefore needs the following files updated:

* [ ] [The Experimental badge](https://github.com/packethost/standards/blob/master/glossary.md#experimental-badge) https://github.com/tinkerbell/tinkerbell.org/pull/139
* [ ] [The Experimental Statement in the README.md](https://github.com/packethost/standards/blob/master/glossary.md#experimental-s

[2020-09-18 08:23] rainleander commented on #128
Closed in favour of the experimental repository https://github.com/tinkerbell/tinkerbell.org/issues/142

[2020-09-18 08:23] #128 closed

[2020-09-18 10:24] rainleander commented on #107
Started the file on https://github.com/tinkerbell/tinkerbell.org/pull/143 with your requested ToC. Let me know how else I may help.

[2020-09-24 08:37] felixwidjaja opened #146 "Add YouTube in header"
As described [in here](https://github.com/tinkerbell/tinkerbell-docs/issues/2).

[2020-09-28 16:43] #142 closed

[2020-09-29 14:15] felixwidjaja opened #149 "Set /docs to docs.tinkerbell.org"
hi @geriadam @ronggur please set the link in header & footer of Docs to https://docs.tinkerbell.org/
Thanks.

[2020-10-02 02:53] #146 closed

[2020-10-02 18:02] #149 closed

[2020-10-06 14:36] felixwidjaja opened #152 "Update logo at footer"
hi @geriadam please change to Equinix Metal
Thanks.

[2020-10-06 15:18] felixwidjaja commented on #152
hi @geriadam can you also update https://tinkerbell.org/ using all white logo?
![image](https://user-images.githubusercontent.com/4198376/95221628-d6770780-0821-11eb-8179-c10debd1eb3e.png)

[2020-10-08 02:22] felixwidjaja commented on #152
Looks good @geriadam
Can we proceed?

[2020-10-09 12:43] thebsdbox commented on #64
I believe @detiber has already done a gap analysis on this so should be able to open an issue where it makes the most sense and we can track it from there.

[2020-10-09 13:21] detiber commented on #64
Any objections if I create a new repository under the tinkerbell org where we can track these types of issues, start putting together design docs, and eventually start on the implementation?

[2020-10-09 14:51] thomcrowe commented on #152
Can we please get this updated asap?

[2020-10-09 15:11] felixwidjaja commented on #152
@thomcrowe all is done since yesterdays sir.
https://docs.tinkerbell.org/
https://tinkerbell.org/

[2020-10-09 15:11] #152 closed

[2020-10-09 15:13] thomcrowe commented on #152
Hard refresh and it's there. Y'all are awesome.

[2020-10-09 15:18] felixwidjaja commented on #152
🤘

[2020-10-09 15:54] thebsdbox commented on #64
Sounds *excellent* to me @detiber

[2020-10-23 08:51] charlottemach opened #158 "Template command example incomplete"
Tiny issue with incomplete command in the example on https://tinkerbell.org/docs/cli/template/

## Current docs

**Examples**

[code]
in https://github.com/tinkerbell/tinkerbell.org/blob/master/content/docs/cli/template.md.
## Should be

**Examples**

[code]

[2020-10-29 05:19] thomcrowe opened #160 "Tinkerbell.org/docs is still accessible"
## Expected Behaviour

We moved our docs to docs.tinkerbell.org and the tinkerbell.org/docs need to be removed.

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Operating System and version (e.g. Linux, Windows, MacOS):

* How are you running Tinkerbell? Using Vagrant & VirtualBox, Vagrant & Libvirt, on Packet using Terr

[2020-10-30 05:33] ronggur commented on #160
@geriadam let's add redirections from/docs to docs.tinkerbell.org and completely remove docs from tinkerbell.org

[2020-11-10 19:23] DailyAlice commented on #111
Related issue in the new docs repo. I'm linking the issues and closing this one as duplicate.

[2020-11-10 19:23] #111 closed

[2020-11-10 19:41] DailyAlice commented on #113
with the switch over to mkdocs and moving the source of the docs to tinkerbell/tinkerbell-docs, I'm not sure this issue is relevant any more. Gonna close, and if something similar re-occurs, we can track in a new issue.

[2020-11-10 19:41] #113 closed

[2020-11-10 19:43] DailyAlice commented on #158
@charlottemach I opened a PR over in the tinkerbell-docs repo which should fix this. https://github.com/tinkerbell/tinkerbell-docs/pull/27, if you want to make sure that I got the right thing.

The source of the docs moved a little bit back; sorry for the confusion that may have caused.

[2020-11-19 08:45] charlottemach commented on #158
looks good, thank you @DailyAlice !

[2020-11-19 08:45] #158 closed

[2020-11-20 17:37] markyjackson-taulia opened #168 "Local setup docs fix"
Currently the local setup section of the docs references `cd /vagrant && source .env && cd deploy` which according to the [setup.sh](https://github.com/tinkerbell/tink/blob/master/setup.sh#L483) should be `cd /vagrant && source .envrc && cd deploy`

[2020-11-26 17:05] mrmrcoleman opened #170 "Update Tinkerbell favicon"
tinkerbell.org has a favicon. docs.tinkerbell.org does not have a favicon.

I would like docs.tinkerbell.org to have the same favicon as tinkerbell.org.

## Expected Behaviour

See above

## Current Behaviour

See above

## Possible Solution

See above

## Steps to Reproduce (for bugs)

1. Open tinkerbell.org in a browser
2. Open docs.tinkerbell.org in a browser

## Context

See above

## Your Env

[2020-11-26 17:06] mrmrcoleman commented on #170
@ronggur Can you assist with the above?

[2020-12-02 16:53] felixwidjaja opened #171 "Google Search Console site verification"
Geri,
Please create a blank file named: `google7ae2960a8806d464.html` for the verification process.
Thanks.

[2020-12-04 08:01] felixwidjaja commented on #171
Hi @geriadam looks like the verification process timed out.
Can you delete `google7ae2960a8806d464.html` and put the attached? `googleac50482fde271f32.html` (not .zip)
Thank you.

*zipped because GH refuse .html attachment.

[googleac50482fde271f32.html.zip](https://github.com/tinkerbell/tinkerbell.org/files/5641271/googleac50482fde271f32.html.zip)

[2020-12-04 10:53] felixwidjaja commented on #160
@ronggur @geriadam can you "kill" https://tinkerbell.org/docs/
(either redirect or really kill)
thank you.

[2020-12-04 11:18] felixwidjaja opened #175 "Sitemap Update: Docs"
Hi @ronggur

In https://tinkerbell.org/sitemap.xml :

1. Add `docs.tinkerbell.org`.
2. Remove https://tinkerbell.org/sitemap-docs.xml
3. Remove anything relates with https://tinkerbell.org/docs/

Thanks.

[2020-12-04 11:34] ronggur commented on #175
@felixwidjaja since /docs related to content, should we ask about it to @thomcrowe or @rainleander first?

also apparently @geriadam already create a pull request for redirection https://github.com/tinkerbell/tinkerbell.org/pull/162

[2020-12-04 11:35] thomcrowe commented on #175
Please go ahead and remove everything in Tinkerbell.org/docs

[2020-12-04 11:37] ronggur commented on #175
@thomcrowe thanks

[2020-12-04 11:38] rainleander commented on #175
And I helped! ;-)

[2020-12-05 05:44] #171 closed

[2020-12-05 17:29] jacobsmith928 commented on #160
please really kill and create any redirects to the new https://docs.tinkerbell.org/

[2020-12-07 04:16] ronggur commented on #160
all content has been removed and redirections also in place

[2020-12-07 04:16] #160 closed

[2020-12-07 04:18] ronggur commented on #175
@felixwidjaja, @geriadam already update the sitemap

[2020-12-07 07:43] felixwidjaja commented on #170
I guess this is for `docs.` right? I made the new issue [here](https://github.com/tinkerbell/tinkerbell-docs/issues/33).
Since we're already here, can @geriadam update using the better one? (transparent, also same version as attached [here](https://github.com/tinkerbell/tinkerbell-docs/issues/33))
Thanks.

[16dfade641c40f1233385cc5b81b83ef.ico.zip](https://github.com/tinkerbell/tinkerbell.org/file

[2020-12-07 12:31] felixwidjaja commented on #175
Hi @ronggur looks like sitemap problem detected, as explained in Slack; please update sir. Thanks.

[2020-12-07 12:36] ronggur commented on #175
@felixwidjaja I'll close this issue and open another one

[2020-12-07 12:36] #175 closed

[2020-12-07 12:47] ronggur opened #177 "Incomplete sitemap"
@geriadam, according to @felixwidjaja some urls not present in sitemap https://tinkerbell.org/sitemap.xml ex: https://tinkerbell.org/faq/

## Expected Behaviour

- All urls present in sitemap

- If possible, can we make sitemap structure like this one? https://www.xml-sitemaps.com/download/tinkerbell.org-8e2ba7482/sitemap.xml?view=1

## Current Behaviour
some url like /faq is missing

[2020-12-07 15:50] mrmrcoleman commented on #170
Yep, this is for docs "docs.tinkerbell.org does not have a favicon."

[2020-12-07 17:05] #170 closed

[2020-12-08 02:40] felixwidjaja opened #180 "Homepage "Get Started" is 404"
@geriadam Can you change the URL to https://docs.tinkerbell.org/setup/local-vagrant/ ASAP?
Thanks.

[2020-12-08 02:50] mmlb commented on #180
fyi looking into avoiding this in the future and I found https://www.npmjs.com/package/netlify-plugin-checklinks. I tried the underlying tool and came across:
[code]

Would be good to address both links and also add the plugin to netlify config.

[2020-12-08 09:02] #177 closed

[2020-12-08 09:02] #180 closed

[2020-12-09 14:47] felixwidjaja opened #181 "Examples hello-world has 404"
Hi @geriadam

In https://tinkerbell.org/examples/hello-world/ can you change " Minimal Hardware Data example " url to: `https://docs.tinkerbell.org/hardware-data/`?

Thank you.

[2020-12-09 15:09] #181 closed

[2020-12-14 05:14] felixwidjaja opened #183 "Create robots.txt"
Geri,

please put [robots.txt](https://github.com/tinkerbell/tinkerbell.org/files/5686576/robots.txt) in https://tinkerbell.org/robots.txt

Thanks.

[2020-12-15 02:52] #183 closed

[2020-12-15 04:43] felixwidjaja opened #185 "Merging Support & Community Slack"
## Expected Behaviour

Merged between these two:
- https://tinkerbell.org/community/support/
- https://tinkerbell.org/community/slack/

## Current Behaviour

Separated.

## Possible Solution

1. Create https://tinkerbell.org/community/contact/
Mockup:
![contact](https://user-images.githubusercontent.com/4198376/102171816-f5e97b00-3ec9-11eb-9300-db96f3cb356b.png)
Content:
[code]

## Collateral
Sinc

[2021-01-21 16:21] felixwidjaja opened #193 "Footer update with CNCF"
hi @geriadam

Back story:
We are working with the Cloud Native Computing Foundation to get Tinkerbell donated to their organisation. One of the point we have to address is to get the website inline with their style guide https://github.com/cncf/foundation/blob/master/copyright-notices.md#copyright-notices

Please update both homepage's and doc's footers. Just like this:
![image](https://user-image

[2021-01-22 12:32] gianarb commented on #193
Thanks!

[2021-01-23 06:46] #185 closed

[2021-02-05 07:01] felixwidjaja commented on #193
Hi @geriadam looks like we haven't follow the rule firmly. The text & link should be like this: https://goharbor.io/

Below is the mockup. Thanks.
![image](https://user-images.githubusercontent.com/4198376/107000458-79cd2e80-67ba-11eb-9949-4ae91f2e5a35.png)

[2021-02-15 16:55] gianarb commented on #193
Hello @felixwidjaja @geriadam , any news about this bit of work?

Thanks

[2021-02-16 06:41] felixwidjaja commented on #193
Sorry @gianarb I forgot completely to remind @geriadam about this.

[2021-02-23 09:07] gianarb commented on #193
I think this is done! Thanks a lot!

[2021-02-23 09:07] #193 closed

[2021-02-23 09:07] gianarb commented on #107
We have this!

[2021-02-23 09:07] #107 closed

[2021-02-23 09:20] felixwidjaja commented on #193
Sweet!

[2021-03-10 01:16] tstromberg opened #199 "Add "edit" link to docs pages"
I wanted to suggest some improvements to https://tinkerbell.org/examples/hello-world/ - but needed to first go on a wild goose chase to figure out where the underlying markdown files were., I had first incorrectly assumed it was within the https://github.com/tinkerbell/tinkerbell-docs repository.

The only way I was able to work it out was searching all of GitHub for a semi-unique string (`ce2e62e

[2021-03-10 01:28] tstromberg opened #200 "hello-world example should direct users on how to fulfill prerequisites"
If you stumble into https://docs.tinkerbell.org/workflows/hello-world-workflow/ the wrong way, you will get very confused as it assumes knowledge of the provisioner & worker, and that it is already setup. We provide no guidance to users who do not meet the prerequisites.

As there is already a lot of new terminology for users sort out, we can reduce the cognitive overhead of learning Tinkerbell th

[2021-04-09 10:42] #84 closed

[2021-06-22 02:15] #133 closed

[2021-07-12 18:41] caniszczyk opened #204 "Move Tinkerbell slack from company to CNCF Slack"
https://tinkerbell.org/community/contact/

It's currently on a company Slack which needs to change and move to the neutral slack.cncf.io

Work with @amye to make this happen

[2021-07-14 21:36] markyjackson-taulia commented on #204
I have started dialog with the CNCF to start this process

[2021-07-15 19:50] markyjackson-taulia commented on #204
Awaiting response from Amy with the CNCF. SLack DM sent in CNCF slack.

[2021-07-15 20:14] amye commented on #204
Checking on availability for team here, standby.

[2021-07-15 21:16] amye commented on #204
@idvoretskyi will be working with you all on this one!

[2021-07-15 22:05] markyjackson-taulia commented on #204
Thank you @amye
@idvoretskyi  I will ping you in my AM (due to tz difference)

[2021-07-20 20:13] markyjackson-taulia commented on #204
This action has been completed and a CNCF slack DM sent to @idvoretskyi  with a link to the download

[2021-07-20 20:13] #204 closed

[2021-07-27 15:48] tstromberg commented on #57
I haven't heard much about Secrets recently, so I assume this has been backlogged?

[2021-07-27 16:25] tstromberg commented on #168
This was resolved by https://github.com/tinkerbell/tink/pull/483

[2021-07-27 16:25] #168 closed

[2021-11-16 22:04] mmlb commented on #199
It seems that all we would usually need is `editURL` in config.toml and the learn theme does the right thing. But I tried it locally and it didn't work :disappointed:, @felixwidjaja can you help us figure out whats going on?

[2021-11-17 14:21] felixwidjaja commented on #199
Hi @tstromberg @mmlb

Unfortunately, https://github.com/tinkerbell/tinkerbell-docs/ is based on MkDocs not Hugo (unlike the main site) :)

Fortunately, MkDocs suports `Edit this page` feature. Please test it out: https://github.com/tinkerbell/tinkerbell-docs/tree/Edit-this-page

Below is sshot of how it looks:
![image](https://user-images.githubusercontent.com/4198376/142218008-69d1deb4-b808-4f00-

[2021-11-17 14:34] mmlb commented on #199
Oh and I just noticed that you are talking about docs.tinkerbell.org not tinkerbell.org @felixwidjaja! I still want to do that PR can we get similar `Edit this page` for tinkerbell.org?

[2021-11-17 14:34] mmlb commented on #199
The split between tinkerbell.org and docs.tinkerbell.org continues to confuse and confound me!

[2021-11-18 12:41] felixwidjaja commented on #199
Sorry I was halucinating. But that `docs.` was still in need for that `edit-this-page` feature too :)
I'll investigate for the main site Hugo. I'm still trying to have it running in my localhost :(

[2021-11-18 14:20] felixwidjaja commented on #199
Here you go gents: https://github.com/tinkerbell/tinkerbell.org/tree/edit-this-page

[2022-05-02 18:35] mestery opened #212 "Main website still lists OSIE, but OSIE has been deprecated in favor of Hook"
In finding Tinkerbell and looking at the main website, I noticed it links to the [OSIE](https://github.com/tinkerbell/osie) project. Clicking on the OSIE GitHub project shows it as deprecated in favor of the [Hook project](https://github.com/tinkerbell/hook). The main website should reflect this deprecation.

<img width="1185" alt="Screen Shot 2022-05-02 at 1 33 58 PM" src="https://user-images.git

[2022-09-28 02:56] jacobweinstock opened #214 "Add documentation for Rufio"
Provide links and details for Rufio.

[2022-09-28 02:57] jacobweinstock opened #215 "Add documentation for tinkerbell/charts"
Add documentation/link to tinkerbell.org for the newly created helm charts. https://github.com/tinkerbell/charts

[2022-09-28 03:08] jacobweinstock opened #216 "Add documentation around CRDs"
- Describe all CRDs in a guided format.
- Link to:
  - https://doc.crds.dev/github.com/tinkerbell/tink
  - https://doc.crds.dev/github.com/tinkerbell/cluster-api-provider-tinkerbell
  - https://doc.crds.dev/github.com/tinkerbell/rufio

(also link these in repos README.md badges)

[2022-09-28 03:25] jacobweinstock opened #217 "Why are there 2 doc repos?"
Can we combine the 2 doc repos that exist? https://github.com/tinkerbell/tinkerbell.org and https://github.com/tinkerbell/tinkerbell-docs

[2022-10-04 15:39] jacobweinstock commented on #212
![image](https://user-images.githubusercontent.com/12081036/193863806-ff5b8cdb-c06f-43ea-b92c-07db16faddc9.png)
Fixed!